body {
    background-color: #fff2c8;
    font-family: "Poppins", serif;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 50px;
    text-align: center;
}

h3 {
    color: #333;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
    padding: 12px 18px;
    border: 1px solid #ddd;

}

.table th {
    background-color: #ffc107;
    color: white;
    font-weight: bold;
}

.table tr:hover td {
    background-color: #fff3cd;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.table td:hover {
    background-color: #f5f5f5;
}

.btn-success {
    background-color: #ffc107;
    border-color: #ffc107;
    transition: all 0.3s ease;
}

.btn-success:hover {
    background-color: #c19d1f;
    border-color: #e0a800;
    transition-duration: 0.2s;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    transition: all 0.3s ease;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
    transition-duration: 0.2s;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #ffc107;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.modal-body {
    font-size: 16px;
}

.modal-footer button {
    border-radius: 5px;
}

.btnDetail {
    background-color: #ffc107;
    padding: 8px 15px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btnDetail:hover {
    padding: 10px 20px;
    color: white;
    transition-duration: 0.2s;
}

a {
    text-decoration: none;
    color: white;
}

